version: '3.7'

services:
  api-gateway:
    image: angelo87dock/gsweb-gateway
    container_name: api-gateway
    restart: "always"
    environment:
      - ASPNETCORE_ENVIRONMENT="production"
      - ASPNETCORE_URLS=http://*:5001
    volumes:
      - /docker/storage/storage-gateway/appsettings.json:/app/appsettings.json
    ports:
      - 5100:5001
    networks:
      - lan-network

  webapp:
    image: angelo87dock/gsweb-webapp
    container_name: webapp
    restart: "always"
    environment:
      - ASPNETCORE_ENVIRONMENT="production"
      - ASPNETCORE_URLS=http://*:80
    volumes:
      - /docker/storage/storage-webapp/nginx.conf:/etc/nginx/nginx.conf
    ports:
      - 5200:80
    networks:
      - lan-network

  aggregator:
    image: angelo87dock/gsweb-aggregator
    container_name: aggregator
    restart: "always"
    environment:
      - ASPNETCORE_ENVIRONMENT="production"
      - ASPNETCORE_URLS=http://*:5001
    volumes:
      - /docker/storage/storage-aggregator/appsettings.json:/app/appsettings.json
    ports:
      - 5102:5001
    networks:
      - lan-network

  api-dataprotection:
    image: angelo87dock/gsweb-dataprotection
    container_name: api-dataprotection
    restart: "always"
    environment:
      - ASPNETCORE_ENVIRONMENT="production"
      - ASPNETCORE_URLS=http://*:5001
    volumes:
      - /docker/storage/storage-data-protection/appsettings.json:/app/appsettings.json
    networks:
      - lan-network

  proxy-dataprotection:
    image: angelo87dock/gsweb-reverseproxy
    container_name: proxy-dataprotection
    restart: "always"
    environment:
      - ASPNETCORE_ENVIRONMENT="production"
      - ASPNETCORE_URLS=http://*:5001
    volumes:
      - /docker/storage/proxy-data-protection/appsettings.json:/app/appsettings.json
    networks:
      - lan-network

  api-utility:
    image: angelo87dock/gsweb-utility
    container_name: api-utility
    restart: "always"
    environment:
      - ASPNETCORE_ENVIRONMENT="production"
      - ASPNETCORE_URLS=http://*:5001
    volumes:
      - /docker/storage/storage-utility/appsettings.json:/app/appsettings.json
    networks:
      - lan-network

  proxy-utility:
    image: angelo87dock/gsweb-reverseproxy
    container_name: proxy-utility
    restart: "always"
    environment:
      - ASPNETCORE_ENVIRONMENT="production"
      - ASPNETCORE_URLS=http://*:5001
    volumes:
      - /docker/storage/proxy-utility/appsettings.json:/app/appsettings.json
    networks:
      - lan-network

  api-prodotti:
    image: angelo87dock/gsweb-prodotti
    container_name: api-prodotti
    restart: "always"
    environment:
      - ASPNETCORE_ENVIRONMENT="production"
      - ASPNETCORE_URLS=http://*:5001
    volumes:
      - /docker/storage/storage-prodotti/appsettings.json:/app/appsettings.json
    networks:
      - lan-network

  proxy-prodotti:
    image: angelo87dock/gsweb-reverseproxy
    container_name: proxy-prodotti
    restart: "always"
    environment:
      - ASPNETCORE_ENVIRONMENT="production"
      - ASPNETCORE_URLS=http://*:5001
    volumes:
      - /docker/storage/proxy-prodotti/appsettings.json:/app/appsettings.json
    networks:
      - lan-network

  api-categorie:
    image: angelo87dock/gsweb-categorie
    container_name: api-categorie
    restart: "always"
    environment:
      - ASPNETCORE_ENVIRONMENT="production"
      - ASPNETCORE_URLS=http://*:5001
    volumes:
      - /docker/storage/storage-categorie/appsettings.json:/app/appsettings.json
    networks:
      - lan-network

  proxy-categorie:
    image: angelo87dock/gsweb-reverseproxy
    container_name: proxy-categorie
    restart: "always"
    environment:
      - ASPNETCORE_ENVIRONMENT="production"
      - ASPNETCORE_URLS=http://*:5001
    volumes:
      - /docker/storage/proxy-categorie/appsettings.json:/app/appsettings.json
    networks:
      - lan-network

  api-operazioniavvio:
    image: angelo87dock/gsweb-operazioniavvio
    container_name: api-operazioniavvio
    restart: "always"
    environment:
      - ASPNETCORE_ENVIRONMENT="production"
      - ASPNETCORE_URLS=http://*:5001
    volumes:
      - /docker/storage/storage-operazioniavvio/appsettings.json:/app/appsettings.json
    networks:
      - lan-network

  proxy-operazioniavvio:
    image: angelo87dock/gsweb-reverseproxy
    container_name: proxy-operazioniavvio
    restart: "always"
    environment:
      - ASPNETCORE_ENVIRONMENT="production"
      - ASPNETCORE_URLS=http://*:5001
    volumes:
      - /docker/storage/proxy-operazioniavvio/appsettings.json:/app/appsettings.json
    networks:
      - lan-network

networks:
  lan-network:
    external:
      name: docker-net