@page "/help/informazioni-software"

<p><nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home Page</a></li>
        <li class="breadcrumb-item active" aria-current="page">Informazioni Software</li>
    </ol>
</nav></p>

<div class="card">
    <div class="card-header">Informazioni sul prodotto</div>
    <div class="card-body">
        <div class="testo">
            This program <b>Gestione Sagre Web</b> and all documentation, are copyright &copy; @PresentYear by Angelo Pirola.
        </div>

        <div class="testo">
            Redistribution and use in source and binary forms, with or without modification, are permitted provided
            that the following conditions are met:
        </div>

        <div class="testo">Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.</div>

        <div class="testo">
            The origin of this software must not be misrepresented; you must not claim that you wrote the original software. If you use this
            software in a product, an acknowledgment in the product documentation would be appreciated but is not required.
        </div>

        <div class="testo">Altered source versions must be plainly marked as such, and must not be misrepresented as being the original software.</div>

        <div class="testo">The name of the author may not be used to endorse or promote products derived from this software without specific prior written permission.</div>

        <div class="testo">
            THIS SOFTWARE IS PROVIDED BY THE AUTHOR "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
            WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR ANY DIRECT, INDIRECT,
            INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA,
            OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE
            OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
        </div>

        <div class="testo"><br /></div>

        <footer class="blockquote-footer">Gestione Sagre Web - versione 1.0 demo</footer>
    </div>
</div>

@code {
    private string PresentYear => CalculateCurrentYear();

    private string CalculateCurrentYear()
    {
        var startYear = 2023;
        var currentYear = DateTime.Now.Year;
        var years = startYear == currentYear ? $"{startYear}" : $"{startYear} - {currentYear}";
        return years;
    }
}